*
    font-family: 'Museo Sans Cyrl', sans-serif

.container
    width: 950px
    margin: 0 auto
    


@import 'base/variables'
@import 'base/mixin'
@import 'blocks/navigation'
@import 'blocks/who'
@import 'blocks/memories'
@import 'blocks/wish'
@import 'blocks/surprice'
@import 'blocks/footer'
@import 'blocks/overlay'

@import 'base/media'